{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Sie sind angemeldet als {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Bitte anmelden</h1>
            <label for="inputUsername">Kennung</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" autocomplete="username" required autofocus>
            <label for="inputPassword">Passwort</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-primary" type="submit">
                Anmelden
            </button>
        </form>
        <div class="mt-4">
            <a href="{{ path('app_forgot_password_request') }}">Passwort vergessen?</a>
        </div>
    </div>

{% endblock %}
