<!doctype html>
<html lang="de">
<head>
    <title>Wahlcodes für {{ election }}</title>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

    <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.7" media="print">
    <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.7/dist/themes/oldstyle.min.css" media="print">
</head>
<body>
    {% set i = 0 %}
    {% for code in election.codes %}
        {% if not code.used %}
            {% set i = i + 1  %}
            <h4>{{ election }}</h4>
            <img src="{{ url('app_create_sw_qr', {'id': election.uuid,'code':code}) }}" width="100" alt="QR-Code" style="width: 100px!important;height:100px!important;text-align: start!important;padding-left: 0!important;margin-left: 0!important;">
            <p>
                Sie haben {{ election.voices }} Wahlstimmen.<br>
                Wahlcode: <b>{{ code }}</b>
            </p>
        {% endif %}
    {% endfor %}
</body>
</html>





