<!doctype html>
<html lang="de">
<head>
    <title>Wahlcodes für {{ election }}</title>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    <h1>{{ election }}</h1>
    <div class="row row-cols-2 g-3">
        {% for code in election.codes %}
            {% if not code.used %}
                <div class="col py-5 border-bottom">
                    <div class="d-flex align-items-center justify-content-start">
                        <img src="{{ path('app_create_sw_qr', {'id': election.uuid,'code':code}) }}" width="250" class="img-fluid" alt="QR-Code">
                        <div>{{ code }}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>





