{% extends 'base.html.twig' %}

{% block title %}Election index{% endblock %}

{% block body %}
<div class="container pb-5">
    <div class="card  rounded-3">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="fw-bold">Wahlrunden</div>
                <div class="d-flex">
                    <a class="btn btn-sm btn-secondary" href="{{ path('crud_election_new') }}">Wahlrunde anlegen</a>
                </div>
            </div>
        </div>
        <div class="table-responsive bg-light-subtle py-2">
            <table class="table table-hover mb-0" id="table">
                <thead class="border-warning border-3 border-top-0 border-start-0 border-end-0">
                    <tr>
                        <th class="text-nowrap text-center">aktiv</th>
                        <th class="text-nowrap">Wahl</th>
                        <th class="text-nowrap">Eigentümer:in</th>
                        <th class="text-nowrap">Wahlstimmen</th>
                        <th class="text-nowrap">Kandidat:innen</th>
                        <th class="text-nowrap">Wahlcodes</th>
                        <th class="text-nowrap">davon verwendet</th>
                        <th class="text-end text-nowrap">Aktionen</th>
                    </tr>
                </thead>
                <tbody>
                {% for election in elections %}
                    <tr>
                        <td class="text-nowrap align-middle text-center">
                            {% set like_icon = ' bi-toggle-off' %}
                            {% if election.isActive %}
                                {% set like_icon = 'bi-toggle-on' %}
                            {% endif %}

                            <a class="toggle-election p-1" href="{{ url('crud_election_switch',{'id':election.id}) }}"  data-value="{{ election.id }}">
                                <i class="like-icon-{{ election.id }} bi {{ like_icon }}" style="font-size: .9rem"></i>
                            </a>
                        </td>
                        <td class="text-nowrap align-middle">
                            {% if election.vote %}
                                <i class="bi bi-check-square-fill me-1"></i>
                            {% else %}
                                <i class="bi bi-person-square me-1"></i>
                            {% endif %}
                            <a class="link-warning" href="{{ path('crud_election_show',{'id':election.id}) }}">{{ election.label }}</a>
                        </td>
                        <td class="text-nowrap align-middle">
                            {% if app.user == election.user %}
                                <i class="bi bi-person-fill text-warning me-1"></i>
                            {% else %}
                                <i class="bi bi-person text-muted me-1"></i>
                            {% endif %}
                            {{ election.user ?? '<i class="text-danger">fehlt</i>'|raw }}
                        </td>
                        <td class="text-nowrap align-middle">{{ election.voices }}</td>
                        <td class="text-nowrap align-middle">{{ election.people.count }}</td>
                        <td class="text-nowrap align-middle">{{ election.codes.count }}</td>
                        {% set used_count = 0 %}
                        {% for code in election.codes %}
                            {% if code.used %}
                                {% set used_count = used_count +1 %}
                            {% endif %}
                        {% endfor %}
                        <td class="text-nowrap align-middle">{{ used_count }}</td>
                        <td class="text-nowrap align-middle">
                            <div class="d-flex justify-content-end align-items-center">
                                {% if used_count == 0 %}
                                    <a class="btn btn-sm btn-secondary me-1" href="{{ path('crud_election_edit', {'id': election.id}) }}">bearbeiten</a>
                                {% else %}
                                    <a class="btn btn-sm btn-secondary me-1 disabled" href="#">bearbeiten</a>
                                {% endif %}
                                {{ include('election/_delete_form_inline.html.twig') }}
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer small text-muted">
            <div class="d-flex justify-content-start align-items-center">
                <i class="bi bi-check-square-fill me-1"></i>
                <span class="me-3">Abstimmung</span>
                <i class="bi bi-person-square me-1"></i>
                <span class="">Personenwahl</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
