{% extends 'base.html.twig' %}

{% block title %}Election index{% endblock %}

{% block body %}
<div class="container pb-5">
    <div class="card  rounded-3">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="fw-bold">Wahlrunden</div>
                <div class="d-flex">
                    <a class="btn btn-primary" href="{{ path('crud_election_new') }}">Wahlrunde anlegen</a>
                </div>
            </div>
        </div>
        <div class="table-responsive bg-light-subtle">
            <table class="table table-hover mb-0" id="table">
                <thead class="border-primary border-3 border-top-0 border-start-0 border-end-0">
                    <tr>
                        <th class="text-nowrap">Wahl</th>
                        <th class="text-nowrap text-center">aktiv</th>
                        <th class="text-nowrap">Stimmen</th>
                        <th class="text-nowrap">nominiert</th>
                        <th class="text-nowrap">Wahlcodes</th>
                        <th class="text-nowrap">davon verwendet</th>
                        <th class="text-end text-nowrap">Aktionen</th>
                    </tr>
                </thead>
                <tbody>
                {% for election in elections %}
                    <tr>
                        <td class="text-nowrap"><a href="{{ path('crud_election_show',{'id':election.id}) }}">{{ election.label }}</a></td>
                        <td class="text-nowrap text-center">
                                {% set like_icon = ' bi-toggle-off' %}
                            {% if election.isActive %}
                                {% set like_icon = 'bi-toggle-on' %}
                            {% endif %}

                            <a class="toggle-election p-1" href="{{ url('crud_election_switch',{'id':election.id}) }}"  data-value="{{ election.id }}">
                                <i class="like-icon-{{ election.id }} bi {{ like_icon }}"></i>
                                <span class="spinner-border spinner-border-sm d-none like-loader-{{ election.id }}" role="status"></span>
                            </a>
                        </td>
                        <td class="text-nowrap">{{ election.voices }}</td>
                        <td class="text-nowrap">{{ election.people.count }}</td>
                        <td class="text-nowrap">{{ election.codes.count }}</td>
                        {% set used_count = 0 %}
                        {% for code in election.codes %}
                            {% if code.used %}
                                {% set used_count = used_count +1 %}
                            {% endif %}
                        {% endfor %}
                        <td class="text-nowrap">{{ used_count }}</td>
                        <td class="text-nowrap">
                            <div class="d-flex justify-content-end">
                                <a class="me-2" href="{{ path('crud_election_export_codes',{'id':election.id}) }}"><i class="text-dark bi bi-filetype-csv me-1"></i>Codes laden</a>
                                <a class="" href="{{ path('crud_election_edit', {'id': election.id}) }}"><i class="text-dark bi bi-pencil me-1"></i>bearbeiten</a>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer small text-muted">
            Übersicht über alle Wahlrunden.
        </div>
    </div>
</div>
{% endblock %}
